<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Rich Web Application Technology - Backbone</title>
        <link type="text/css" href="app/css/styles.css" rel="stylesheet"/>
    </head>
    <body>

        <div id="sidebar">
            <ul id="nationalities"></ul>
        </div>

        <div id="content">
        </div>

        <!-- Templates -->
        <script type="text/template" id="nationality-item-template">
            <a href="#nationalities/<%= id %>"><%= description %></a>
        </script>

        <script type="text/template" id="nationality-detail-template">
            <h2><%= description %></h2>
        </script>
        
        <!-- JavaScript -->
        <script src="libs/jquery.js"></script>
        <script src="libs/underscore.js"></script>
        <script src="libs/backbone.js"></script>
        <script src="app/js/main.js"></script>
    </body>
</html>