<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>C11749921 Samuel Coffey 1, 2a, 3b, 4b, 5b & 6</title>

<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="app/css/style.css">
</head>
<body>
	<header class="site-header-wrap">
		<div class="site-header">
			<h1>Dashboard</h1>
		</div>
	</header>

	<div class="main">
		<div class="accordion">
			<div class="accordion-section">
				<a class="accordion-section-title" href="#questionnaires">1</a>
				<div id="questionnaires" class="accordion-section-content">
				
					<a href="#questionnaires">Open table</a>
					<table id="questionnaire_table"></table>
				</div>
				<!--end .accordion-section-content-->
			</div>
			<!--end .accordion-section-->

			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-2">2a</a>
				<div id="accordion-2" class="accordion-section-content">
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur
						vitae tortor id eros euismod ultrices. Cum sociis natoque
						penatibus et magnis dis parturient montes, nascetur ridiculus mus.
						Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras
						tincidunt enim vel aliquet facilisis. Duis congue ullamcorper
						vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet
						pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse
						ornare gravida mi, et placerat tellus tempor vitae.</p>
				</div>
				<!--end .accordion-section-content-->
			</div>
			<!--end .accordion-section-->

			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-3">3b</a>
				<div id="accordion-3" class="accordion-section-content">
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur
						vitae tortor id eros euismod ultrices. Cum sociis natoque
						penatibus et magnis dis parturient montes, nascetur ridiculus mus.
						Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras
						tincidunt enim vel aliquet facilisis. Duis congue ullamcorper
						vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet
						pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse
						ornare gravida mi, et placerat tellus tempor vitae.</p>
				</div>
				<!--end .accordion-section-content-->
			</div>
			<!--end .accordion-section-->

			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-4">4b</a>
				<div id="accordion-4" class="accordion-section-content">
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur
						vitae tortor id eros euismod ultrices. Cum sociis natoque
						penatibus et magnis dis parturient montes, nascetur ridiculus mus.
						Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras
						tincidunt enim vel aliquet facilisis. Duis congue ullamcorper
						vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet
						pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse
						ornare gravida mi, et placerat tellus tempor vitae.</p>
				</div>
				<!--end .accordion-section-content-->
			</div>
			<!--end .accordion-section-->

			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-5">5b</a>
				<div id="accordion-5" class="accordion-section-content">
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur
						vitae tortor id eros euismod ultrices. Cum sociis natoque
						penatibus et magnis dis parturient montes, nascetur ridiculus mus.
						Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras
						tincidunt enim vel aliquet facilisis. Duis congue ullamcorper
						vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet
						pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse
						ornare gravida mi, et placerat tellus tempor vitae.</p>
				</div>
				<!--end .accordion-section-content-->
			</div>
			<!--end .accordion-section-->

			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-6">6</a>
				<div id="accordion-6" class="accordion-section-content">
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur
						vitae tortor id eros euismod ultrices. Cum sociis natoque
						penatibus et magnis dis parturient montes, nascetur ridiculus mus.
						Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras
						tincidunt enim vel aliquet facilisis. Duis congue ullamcorper
						vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet
						pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse
						ornare gravida mi, et placerat tellus tempor vitae.</p>
				</div>
				<!--end .accordion-section-content-->
			</div>
			<!--end .accordion-section-->
		</div>
		<!--end .accordion-->
	</div>
	<footer class="footer">
		<div id="footer-panel">

			<a class="verifier"
				href="http://jigsaw.w3.org/css-validator/validator?uri=http://lucalongo.eu/courses/2014-2015/RichWebApplicationTechnology/students/C11749921/finalproject/app/css/style.css&amp;profile=css3"><img
				src="app/images/css_validated.png" alt="css validator" /></a> <a
				class="verifier"
				href="http://validator.w3.org/check?uri=http://lucalongo.eu/courses/2014-2015/RichWebApplicationTechnology/students/C11749921/finalproject/">
				<img src="app/images/html5_validated.png" alt="html5 validator" />
			</a>
		</div>
	</footer>

	<!-- Templates -->
	<script type="text/template" id="questionnaire-item-template">
				<td><%= task_number %></td>
				<td><%= id %></td>
				<td>RMSE_value</td>
				<td>MWL_value</td>
				<td>questionnaire_type</td>
				<td>questionnaire_value</td>
				<td>(Time_1-Time_2) in mins</td>
				<td><%= intrusiveness %></td>
        </script>

	<!-- JavaScript -->
	<script src="libs/jquery-1.11.1.js"></script>
	<script src="libs/underscore.js"></script>
	<script src="libs/backbone.js"></script>
	<script src="app/js/main.js"></script>
</body>
</html>