body {
	/* background-image: url("../images/redandblackbackground.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
	background: #4F7EFF;
}

p {
	text-align: justify;
	text-justify: inter-word;
}

.navigation {
	list-style: none;
	margin: 0;
	background: deepskyblue;
	text-align: right;
}

.navigation a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
}

.navigation>li {
	display: inline-block;
}

.navigation a:hover {
	background: #00B6EF;
}

.center_wrapper {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	background: white;
	max-width: 900px;
	border: 2px solid;
	border-radius: 25px;
	overflow: auto;
	min-height: 30px;
}

.title>h1 {
	float: right;
	text-align: center;
	width: 33%;
	font-family: Georgia, serif;
	font-size: 150%;
}

.pic_div {
	float: right;
	width: 33%;
	text-align: right;
	padding: 5px;
}

.copyright {
	/* font-size: 75%; */
	color: grey;
	float: right;
	text-align: left;
	width: 50%;
}

.footer_images {
	float: right;
	text-align: right;
	width: 50%;
	padding-top: 9px;
}

.main_content {
	float: left;
}

.left_image {
	float: left;
	height: 75px;
	margin: 5px;
	margin-right: 10px;
}

.right_image {
	float: right;
	height: 75px;
	margin: 5px;
	margin-left: 10px;
}

.title_pic {
	height: 100px;
}

.title {
	border-bottom: white;
	border-bottom-style: groove;
	border-bottom-width: thick;
	overflow: auto;
}

#interests>h3, h2 {
	clear: both;
}

@media all and (max-width: 800px) {
	.navigation {
		justify-content: space-around;
		text-align: center;
	}
	.title>h1 {
		float: left;
	}
}

@media all and (max-width: 600px) {
	.navigation {
		padding: 0;
	}
	.navigation a {
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.navigation>li {
		display: block;
	}
	.navigation li:last-of-type a {
		border-bottom: none;
	}
	.verifier>img {
		width: 61px;
	}
	.copyright {
		font-size: 90%;
	}
}