/*
 * Title: Portfolio - CSS3 Style Sheet
 * Author: Samuel Coffey - C11749921
 * Date: 29th October 2014
 * Description: This style sheet contains CSS3 for my portfolio web application.
 */
 
/* CSS for standard background colour, text and text colour for the page */
body {
	background: #1E90FF;
	font-family: Georgia, serif;
	color: #1E1F1D;
}

/* CSS justifying words in paragraphs */
p {
	text-align: justify;
	text-justify: inter-word;
}

/* CSS for nav bar */
.navigation {
	list-style: none;
	margin: 0;
	background: deepskyblue;
	text-align: right;
}
.navigation a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
}
.navigation>li {
	display: inline-block;
}
.navigation a:hover {
	background: #00B6EF;
}

/* CSS for central main body divs */
.center_wrapper {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	background: white;
	max-width: 64%;
	border: 2px solid;
	border-radius: 25px;
	overflow: auto;
	min-height: 30px;
}

/* CSS for title section */
.title>h1 {
	float: right;
	text-align: center;
	width: 33%;
	font-size: 150%;
}
.pic_div {
	float: right;
	width: 33%;
	text-align: right;
	padding: 5px;
}
.title_pic {
	height: 100px;
}

/* CSS for footer section */
.copyright {
	color: grey;
	float: right;
	text-align: left;
	width: 50%;
}
.footer_images {
	float: right;
	text-align: right;
	width: 50%;
	padding-top: 9px;
}

/* CSS for images which are alternatively displayed on left and right in interests section */
.left_image {
	float: left;
	height: 75px;
	margin: 5px;
	margin-right: 10px;
}
.right_image {
	float: right;
	height: 75px;
	margin: 5px;
	margin-left: 10px;
}

/* CSS for bottom border after various sections */
.title, #experience, #interests, #skills_article {
	border-bottom: white;
	border-bottom-style: groove;
	border-bottom-width: thick;
	overflow: auto;
}

/* CSS to clear the float left or right properties */
#interests>h3, h2 {
	clear: both;
}

/* CSS for skills section - hiding element by default etc. */
.skill_header>h3 {
	display: inline;
}
.hide {
	display: none;
}
.skill_type>ul {
	display: none;
}
.skill_type {
	margin-bottom: 10px;
}
.show, .hide {
	color: blue;
	text-decoration: none;
}

/* CSS for table */
td, th, table {
	background-color: deepskyblue;
	color: white;
}
td, th {
	border: 1px solid white;
}
th {
	text-align: center;
}
.top_row {
	display: none;
}

/* CSS for colour changer */
.c_img {
	float: right;
	border-left: white;
	border-left-style: groove;
}
.colour_changer {
	position: fixed;
	right: 8px;
	top: 70px;
	padding: 4px;
	background: white;
	border: 2px solid;
	border-radius: 10px;
}
.c_link {
	color: white;
	text-decoration: none;
}

/* CSS for tablet devices */
@media all and (max-width: 800px) {
	/* CSS to increase the size of the centre div proportionately to the size of the window */
	.center_wrapper {
		max-width: 97%
	}
	
	/* CSS to display the contents of the nav bar evenly accross the page and shrink font size 
	to fit*/
	.navigation {
		justify-content: space-around;
		text-align: center;
		font-size: 92%;
	}
	
	/* CSS to move the title to the left and reduce the font size */
	.title>h1 {
		float: left;
		font-size: 135%;
	}
	
	/* CSS for colour changer table to display in normal centre div and display 1 row instead of
	one column */
	.colour_changer {
		position: initial;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		padding: 5px;
		max-width: 97%;
		border-radius: 25px;
		min-height: 30px;
	}
	.top_row {
		display: table-cell;
	}
	.colour_row {
		display: none;
	}
	.colour_table {
		margin: 0 auto;
	}
}

/* CSS for mobile devices */
@media all and (max-width: 600px) {
	/* CSS to adjust navbar to display in a column with borders between elements. Font size 
	increased again as allowed */
	.navigation {
		padding: 0;
		font-size: 100%;
	}
	.navigation a {
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.navigation>li {
		display: block;
	}
	.navigation li:last-of-type a {
		border-bottom: none;
	}
	
	/* CSS to shrink various content to fit better on mobile device */
	.verifier>img {
		width: 61px;
	}
	.copyright {
		font-size: 90%;
	}
	.title>h1 {
		font-size: 100%;
	}
	.title_pic {
		height: 80px;
	}
	.skill_header>h3 {
		font-size: 81%;
	}
	td, th, table {
		font-size: 86%;
	}
}